name: build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Install packages
        run: npm run bootstrap
      - name: Verify code formatting
        run: npm run prettier:verify
      - name: Lint Code
        run: npm run lint
      - name: Build app
        run: npm run build
      - name: Run tests
        run: npm run test:ci
